<html>
    <head>
        <title>My Todo Application</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="grid grid-flow-col-5">
            <div class="col-start-2 col-span-4">
                <%- include ('header.ejs') %>
                <form>
                    <div class="flex gap-3 py-4">
                        <div class="flex-auto">
                            <input type="text" placeholder="Enter the Task Name" class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-auto">
                            <input type="date" class="border border-black-300 rounded text-black-900 w-full p-2 text-sm leading-4"/>
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
                        </div>
                    </div>
                </form>  
                <div>
                    <h5>Overdue</h5>
                    <span id="count-od" style="float:right" class="bg-blue-400"> (2) </span>
                    <ul class="list-none">
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb1" class="ml-2 text-sm text-gray-600 cursor-pointer">SRH vs DC Match</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>                              
                        </li>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb2" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb2" class="ml-2 text-sm text-gray-600 cursor-pointer">Deep Learning Record</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <h5>Due Today</h5>
                    <span id="count-dt" style="float:right" class="bg-blue-400"> (2) </span>
                    <ul class="list-none">
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb3" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb3" class="ml-2 text-sm text-gray-600 cursor-pointer">MAD ImageSwitcher Program</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>                              
                        </li>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb4" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb4" class="ml-2 text-sm text-gray-600 cursor-pointer">Cyber Security Assignment</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <h5>Due Later</h5>
                    <span id="count-dl" style="float:right" class="bg-blue-400"> (3) </span>
                    <ul class="list-none">
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb5" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb5" class="ml-2 text-sm text-gray-600 cursor-pointer">Smart Interviews Preparation</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>                              
                        </li>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb6" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb6" class="ml-2 text-sm text-gray-600 cursor-pointer">Placement Preparation</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </li>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <input id="todo-cb7" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border">
                                <label for="todo-cb7" class="ml-2 text-sm text-gray-600 cursor-pointer">GRE & IELTS Preparation</label>
                                <a href="#" class="hidden trash-icon ml-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>     
    <!-- <%- include('todos.ejs') %>
    <%- include('footer.ejs') %> -->
    </body>
</html>